html, body, #content, #map, #mapdiv {
    width: 100%; 
    height: 100%;
    padding: 0;
    margin: 0;
}

.olControlAttribution {
    bottom: 5px;
}

#detailmap {
    width: 100%;
    height: 200px;
}
