html, body, #map, #mapdiv, #detailmap {
    padding: 0;
    margin: 0;
}

#mapdiv {
    height: 100%;
    width: 100%;
}

#container {
    height: 100%;
    width: 100%;
}
#header {
    height: 50px;
    width: 100%;
}
#content {
    position: absolute;
    width: 100%;
    top: 52px;
    bottom: 61px;
    padding: 0;
    overflow: auto;
}
#footer {
    height: 59px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#listul {
    margin: 0;
}

table { width:100%; }
table.fifty td { vertical-align:top; padding:6px; width: 50%; } 

#avatar {
    vertical-align: middle;
    max-width: 60px;
    max-height: 60px;
    border-radius: 5px;
}

#avaframe {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    padding: 5px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    margin-right: 5px;
    background-color: #eeeeee;
    vertical-align: middle;
    text-align: center;
}

.titlecont h2 {
    display: inline-block;
}
